@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Space+Mono&family=Zilla+Slab:wght@500&display=swap");

$font-Zilla: 'Zilla Slab', serif;
$color-background: #F8F9F9;
$font-size-large:30px;
$font-size-medium:24px;
$font-size-small:20px;
$color-black: #0F0E0E;
/* Use for attributes (color, category, price) of producList */
$color-gray:#99A3A4;
/* Button background colors and button font delete and edit */
$color-gray--dark:#626567 ;
$color-skyblue:#3498DB;
$color-green:#2ECC71;
/* letter buttons  */  
$color-white:#FDFEFE;
/* title letter */
$color-black: #0F0E0E;
/*form background */
$color-background-form:#EAECEE;
/* Colors table */
$color-title-table: #f9fafb;
$color-body-table: #ffffff;
$color-background-footer: #1e2a37;


:root {
    --font-Zilla: 'Zilla Slab', serif;
    --color-background: #F8F9F9;
    --font-size-large:30px;
    --font-size-small:20px;
    --color-black: #0F0E0E;
    /* Use for attributes (color, category, price) of producList */
    --color-gray:#99A3A4;
    /* Button background colors and button font delete and edit */
    --color-gray--dark:#626567 ;
    --color-skyblue:#3498DB;
    --color-green:#2ECC71;
   /* letter buttons  */  
    --color-white:#FDFEFE;
  /* title letter */
    --color-black: #0F0E0E;
  /*form background */
    --color-background-form:#EAECEE;
  }