@import '../../styles/base/base.scss';
@import '../../styles/abstract/variables.scss';

#root{

    margin: 0;
    padding: 0rem;
}

.container__main{
    display: flex;
    flex-direction: column;
    align-self: flex-start;

}

.text-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    h1{
        text-align: initial;
        font-size: 2rem !important;

        @media (min-width: 1024px) {
            font-size: $font-size-large;
        }
    }

}
.table-container {
    width: 100%;
    overflow: hidden; /* Asegura que el contenido dentro del contenedor se ajuste al border-radius */
    border-radius: 8px;
    box-shadow: $color-background-shade;

    @media (min-width: 1024px) {
        width: 970px;
    }
}

.table{
    padding: 0.5rem 0.4rem;
    margin: 0px !important;
    font-size: 1rem !important;
    text-align: left;

    @media (min-width: 1024px) {
        font-size: $font-size-small;
    }
    
}

thead{

    tr{
        padding: 0.5rem 0.5rem 0.5rem 1.5rem !important;

        th{
            
            background-color: $color-title-table!important;

            &:nth-child(1){
                padding: 0.5rem 0.5rem 0.5rem 1.5rem !important;
            }
            
        }

    }
}

tbody{

    th{
        &:nth-child(1){
            padding: 0.5rem 0.5rem 0.5rem 1.5rem !important;
        }
    }
}


