@import '../../styles/abstract/variables.scss';

.container-form{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 500px;
    width: 375px;
    @media (min-width: 1024px) {
        width: 400px;
    }
    
}

.container-form__title{
    padding-bottom: 20px;
}

.product-form__subtitle{
    font-weight: bold;
}

.product-form{
    background: $color-title-table!important;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    box-shadow: $color-background-shade;
}

.product--buttons{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
}