#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;  
  
  }

  .container_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 20px;
    }
  }


