@import '../abstract/variables.scss';

html, body {
    font-family: $font-Zilla;    
    background-color: $color-background;
    display: flex;
    align-items: center;
    justify-content: center;
  }