* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
  }  
  a {
    text-decoration: none;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }